/0019.png
/0021.png
/best.pt
/best1.pt
/best2.pt
/best3.pt
/best4.pt
/best5.pt
/cumphaptuyen.py
/DepthCamera_2025-11-11-18-18-07.json
/DepthCamera_2025-11-11-18-20-08.json
/DepthCamera_2025-11-11-18-26-36.json
/DepthCapture_2025-11-11-18-18-07.png
/DepthCapture_2025-11-11-18-20-08.png
/DepthCapture_2025-11-11-18-26-36.png
/lamlai.py
/rf-detr-seg-preview.pt
/rfer.py
/runs
/run_api.py
/submission.zip
/Submission_3D.csv
/task3.py
/test1(fix).py
/test31.py
/testAPI.py
/test_offline.py
/yolo
/yolov8n-seg.pt